body{
    padding: 0%;
    margin: 0%; 
    font-size: 25px;
    word-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}   
.modeN{
    background-image: url("img/backp.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.modeL{
    background-image: url("img/lightM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.modeG{
    background-image: url("img/greyM.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.modeD{
    background-image: url("img/darkM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
img { 
    border-radius: 28px;  
    width: 95%; 
    filter: drop-shadow(18px 18px 20px black);
} 
h1, h2{
    text-align: center;
}
.titles{ 
    padding: 0%; 
    margin-top: 30px;
    margin-left: 30px;  
    border-radius: 28px;
    position: fixed;
    top: 0;
    left: 0;
    right: 30px;
    z-index: 1000; 
}
.titles img{
    text-align: center;  
    width: 100%;
    height: 195px;
    filter: none;
}
.navBarT{
    background-color: rgba(255, 217, 0, 0.829);
}
span{
    padding-left: 10px;
    width: 90%;
}
.tryIt, .aboutUs, .moreInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
} 
.aboutUs video{
    width: 85%;
    filter: drop-shadow(18px 18px 20px black);
}
.modS, .langS{
    display: none;
}

.filterShow{ 
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    margin-top: 0px;
    text-align: center; 
    background-color: rgba(255, 217, 0, 0.829);
    border-radius: 28px;
}
.content div {
    border-radius: 28px;
}
.modeS, .lanS{
    color: black;
    text-align: center;
}
  
.hvL:hover, .hvM:hover{ 
    background-color: black; 
    border-radius: 28px;
    color: rgba(255, 217, 0, 0.829); 
}

.content{
    padding: 20px;
    margin: 10px;
}
.content div{
    padding: 30px;
}
.mdS, .tryIt{ 
    background-color: rgba(255, 217, 0, 0.829);
    padding: 20px; 
    margin-top: 0px;
    margin-bottom: 20px; 
}
.footer{ 
    display: grid;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    color: white;
    grid-template-columns: repeat(4, 1fr); 
} 
.reveal{
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.ligthM {
  background-color: white;
  color: black;
}

.darkMode {
  background-color: black;
  color: white;
}

.greyMd {
  background-color: rgb(61,57,57);
  color: rgb(176,167,167);
}

.ligthMM{
    background-color: white;
    border-radius: 28px;
    color: black;
}
.darkModeM{
    background-color: black;
    border-radius: 28px;
    color: white;
}
.greyMdM{
    background-color: rgb(61, 57, 57);
    border-radius: 28px;
    color: rgb(176, 167, 167);
}
/*Adjustments for any larger users*/
@media(min-width: 976px){
    .navBarT{
        margin-top: 270px; 
        margin-left: 30px;
        margin-right: 30px;
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        border-radius: 28px;
        text-align: center;  
    }
    .tryIt h1, .aboutUs h2, .moreInfo h2{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center; 
    } 
    .itT{
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: center;
        font-size: larger;
    }
}
/*Adjustments for notepad users*/
@media(max-width: 976px){ 
    body{
        font-size: 30px;
    }
    .navBarT{
        margin-top: 270px; 
        margin-left: 30px;
        margin-right: 30px;
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        border-radius: 28px;
        text-align: center;  
    }
    .bt2{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .tryIt, .aboutUs, .moreInfo{ 
        display: grid;
        grid-template-columns: 1fr;
    }  
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .itT{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-size: larger;
    }
    
} 
 
@media(max-width: 832px){
    body{
        font-size: 40px;
    }
    .navBarT{
        margin-top: 270px;  
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        border-radius: 28px;
        text-align: center;  
    }
    .filterShow{ 
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
        margin-top: 0px;
        text-align: center;  
        border-radius: 28px;
    }
    .bt2{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .tryIt, .aboutUs, .moreInfo{ 
        display: grid;
        grid-template-columns: 1fr;
    } 
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 35px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .itT{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-size: larger;
    }
    .aboutUs video{ 
        width: 85%;
     } 
}
/*menu adjustment for smartphones*/
@media(max-width: 607px){
    body{
        font-size: 30px;
    }
    .navBarT{
        margin-top: 270px; 
        margin-left: 30px;
        margin-right: 30px; 
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr; 
        border-radius: 28px; 
    }
    .filterShow{ 
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        margin-left: 30px;
        margin-right: 30px;
        padding: 15px;
        margin-top: 0px;
        text-align: center;  
        border-radius: 28px;
    }
    .bt2{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .tryIt, .aboutUs, .moreInfo{ 
        display: grid;
        grid-template-columns: 1fr;
    } 
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 35px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    .itT{
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        font-size: larger;
    } 
    .aboutUs video{ 
        width: 85%;
     }
}